<table class="table table-hover">
    <tr>
        <td>
            <b>
            {{ transaction.author.username }} made a transaction:
            </b> <br>
            <b>Date: </b>{{ transaction.timestamp }}
            <br>
            <b>Amount: </b>${{ transaction.amount }}
            <br>
            <b>Description: </b>{{ transaction.description }}
            <br> <br>
            <form>
                <button type="submit"> Delete </button>
            </form>
        </td>
    </tr> 
</table>